<!DOCTYPE html>
<html>

<head>
    <link type='image/x-icon'rel='shortcut icon' href='img/favicon.png'/>
    <meta name="viewport" content="width=device-width, height=device-height, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">

    <title><%=htmlWebpackPlugin.options.title%></title>

    <link type="text/css" rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="libs/lmv/style.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/app.css"/>

</head>

<body>

    <div id="root">
    </div>

    <script src="libs/systemjs/system.src.js"></script>
    <script src="<%=htmlWebpackPlugin.options.viewer3D%>"></script>
    <script src="<%=htmlWebpackPlugin.options.bundle%>"></script>

</body>

</html>

