
.navbar-brand > img {

    margin-right: 10px;
    display:inline-block;
    vertical-align: middle;
}

.navbar-lmv {
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 2px solid rgba(21, 121, 128, 0.75);
}

.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 65px;
    padding-top: 0;
}

.app{

}

.app .home {

}

.animated-background-output {
    width: 100vw;
    height: 100vh;
}

.app .viewer {
    position: relative;
    width: 100vw;
    height: calc(100vh - 65px);
}

@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .navbar{
        display:none;
    }

    .viewer {
        height: 100vh;
    }
}
